body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #CCCCCC;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto; /* centraliza com auto */
}

nav {
    position: absolute; /* static = ponto padrão; relative = a partir do ponto; absolute = livre, a partir do último objeto da página (ou da tag relativa acima, como no caso da .caixa), considerar x,y,Z */
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /* remove underline on the text */
}

nav a:hover {
    color: brown;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /* adições em px são agregadas dentro do percentual definido - do width neste exemplo. */
    border: 2px solid brown;
    border-radius: 10px; /* pode ser declarado um valor para cada canto */
}

.produtos li:hover {
    border-color: red;
}

.produtos li:hover h2 {
    font-size: 32px;
}

.produtos li:active {
    border-color: greenyellow;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos-descricao {
    font-size: 18px;
}

.produtos-preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("../images/bg.jpg");
}

footer p { /* ou poderia criar uma classe para copyright e definir as configurações */
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

main {

}

form {
    margin: 40px 0;
}

form label, form legend { /* com vírgula mais de um item pode utilizar a mesma configuração de CSS */
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 15px 10px 15px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    transition: 0.5s background;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.1);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

.banner {
    width: 100%;

}

.titulo-principal {
    text-align: center;
    font-size: 2em; /* em = medida proporcional para pixels */
    margin: 0 0 1em;
    clear: left;
}

.titulo-principal::first-letter{ /* para manipular primeira fonte */
    color: yellow;
}

.titulo-principal::before{
    content: "{ ";
}

.titulo-principal::after{
    content: " }";
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 150px;
    float: left;
    margin: 0 15px 15px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FFFFFF, #CCCCCC);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {

}

.beneficios {
    padding: 3em 0;
    background: #CCCCCC;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5em;
}

.itens::before{
    content: "► ";
}

.itens:first-child {
    font-weight: bold;
}

.itens:nth-child(3) { /*Define o item pelo número */
    font-weight: bold;
}

.img-beneficios {
    width: 60%;
    opacity: 1;

}

.img-beneficios:hover{
 /*   opacity: 0.6; */
    box-shadow: 5px 5px 10px #999999;
    transition: 300ms;
    
}

.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video, .produtos, .produtos li {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .img-beneficios {
        width: 100%;
    }

    .img-beneficios {
        margin-top: 10px;
    }

    nav a {
        font-size: 20px;
    }

    .produtos li {
        margin-bottom: 10px;
    }

}



/* BLOCK 100% da largura da pagina. INLINE 100% do tamanho do conteúdo
//Passo algum parametro para 'filha' direta de ma1n (MA1N mesmo) 
ma1n > p {
    background: red; 
}

//Passo algum parametro para 'filha' após img
img + p { 
    balckground: blue;
}

//Passo algum parametro para as 'filhas' diretas de img
img ~ p {
    background: yellow
} 

//Posso selecionar todos os parágrafos que não são da classe definida
.principal p:not(#misssao) {
    background: orange;
} */